.boardstyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #d1dfe4;
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: dotted 1px;
  border-color: black;
}

.stonestyle {
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 50%;
}

.textlarge {
  font-size: 35px;
}

.blue {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
